fastapi==0.95.2
uvicorn[standard]==0.22.0
sqlmodel==0.0.8
sqlalchemy==2.0.20
psycopg2-binary==2.9.6
gunicorn==21.2.0
python-multipart==0.0.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
email-validator==2.0.0
itsdangerous==2.1.2
python-dotenv==1.0.0
